[submodule "4_lab/linpack"]
	path = 4_lab/linpack
	url = https://github.com/ereyes01/linpack
[submodule "3_lab/linpack"]
	path = 3_lab/linpack
	url = https://github.com/ereyes01/linpack
[submodule "5_lab/pigfs"]
	path = 5_lab/pigfs
	url = https://github.com/philipl/pifs.git
[submodule "6_lab/mallocTool"]
	path = 6_lab/mallocTool
	url = https://github.com/jtolio/malloc_instrumentation.git
